.container {
    margin: 50px 20px;
    display: flex;
    flex-direction: column;
    width: 40%;
}

.label {
    margin-top: 15px;
}

.button {
    width: 50%;
    margin: 10px auto;
    background-color: mintcream;
    box-shadow: 0 3px 8px 2px rgb(60 60 60 / 30%);
    border: none;
    border-radius: 20px;
    padding: 8px;
}

#box>div {
    background-color: rgb(245, 244, 244);
    width: 100%;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 5px;
    margin: 5px auto;
}