$base-font: 'Poppins';
$base-fontSize: 16px;
$base-fontWeight: 500;

$text-color-main: #242730;
$text-color-light:#959BA5;
$text-color-white:#FFFFFF;

$background-color: linear-gradient(45deg, #a8edea, #fed6e3);
$button-color: linear-gradient(180deg, rgba(143,215,231,1) 9%, rgba(146,213,231,1) 13%, rgba(175,170,215,1) 90%);
$menu-color: #3D3654;
$accent-color: #78D4DA;
$accent-color-darker: #6BBDD7;
$accent-color-bright: #64E3FF;
$secondary-color: #daabd4;
$secondary-color-darker: #D76BAB;
$secondary-color-bright: #EF2EA0;