@font-face {
    font-family: "Chronicle-Display-Roman.woff";
    font-style: normal;
    font-weight: normal;
    src: local("Chronicle-Display-Roman.woff"), url("fonts/Chronicle-Display-Roman.woff") format("woff");
}

body {
    background-color: #0B1D26;
}

.background {
    overflow: hidden;
    background: url("assets/bg_full.png")0px 0px/100% no-repeat;
}

.container {
    height: 100vh;
}

@media screen and (max-width: 767px) {
    .container {
        height: 30vh;
    }
}

.header {
    display: grid;
    width: 100%;
    height: 27%;
    margin-top: 3%;
    grid-template-areas: ". logo nav account_img account . ";
    grid-template-columns: 5% 1fr 10fr 0.1fr 0.9fr 5%;
    grid-template-rows: 1fr;
    gap: 1vw;
    justify-content: space-between;
    align-items: baseline;
    font-family: Gilroy, sans-serif;
    font-style: normal;
    font-size: 1vw;
    color: #FFFFFF;
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
    .header {
        font-size: 2vw;
    }
}

.logo {
    grid-area: logo;
    font-family: Chronicle-Display-Roman;
    font-size: 2vw;
    letter-spacing: 0.7px;
    text-transform: capitalize;
}

@media screen and (max-width: 767px) {
    .logo {
        grid-area: account;
    }
}

.nav {
    grid-area: nav;
    justify-self: center;
}

.menu {
    text-decoration: none;
    color: #FFFFFF;
    padding-right: 5vw;
}

.burger {
    display: none;
}

@media screen and (max-width: 767px) {
    .menu {
        display: none;
    }

    .burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
    }

    .burger span {
        position: absolute;
        background-color: #FFFFFF;
        left: 1vw;
        width: 100%;
        height: 2px;
        top: 9px
    }

    .burger::before,
    .burger::after {
        content: " ";
        background-color: #FFFFFF;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 1vw;
    }

    .burger::before {
        top: 0;
    }

    .burger::after {
        bottom: 0;
    }
}

.menu:hover {
    color: #8d8d8d;
    text-decoration: none;
}

.account {
    grid-area: account;
    justify-self: start;
    text-decoration: none;
    color: #FFFFFF;
}

@media screen and (max-width: 767px) {
    .account {
        display: none;
    }
}

.account:hover {
    color: #8d8d8d;
    text-decoration: none;
}

.icon_container {
    grid-area: account_img;
    justify-self: end;
    margin-top: 1vh;
    width: 150%;
}

.account_img {
    max-width: 100%;
}

@media screen and (max-width: 767px) {
    .account_img {
        display: none;
    }
}

.heading {
    display: grid;
    width: 100%;
    height: 30%;
    margin-top: -10vh;
    grid-template-areas: ". line st . "
        ". title title . "
        ". scroll arrow_img . ";
    grid-template-columns: 1fr 0.3fr 2fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    align-items: center;
}

@media screen and (max-width: 767px) {
    .heading {
        height: 50%;
        margin-top: 3vh;
    }
}

.heading_line {
    grid-area: line;
    width: 5vw;
    height: 0.2vh;
    background: #FBD784;
    align-self: center;
}

.heading_subtitle {
    grid-area: st;
    font-family: Gilroy;
    font-style: normal;
    font-weight: 800;
    font-size: 1vw;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: #FBD784;
}

@media screen and (max-width: 767px) {
    .heading_subtitle {
        font-size: 2vw;
        letter-spacing: 1vw;
    }
}

.title {
    grid-area: title;
    width: 60vw;
    font-family: "Chronicle Display";
    font-style: normal;
    font-weight: 600;
    font-size: 5vw;
    line-height: 115%;
    text-transform: capitalize;
    color: #FFFFFF;
    margin: 2vh 0px;
    align-self: center;
}

@media screen and (max-width: 767px) {
    .title {
        margin: 1vh 0px;
    }
}

.scroll {
    grid-area: scroll;
    font-family: Gilroy;
    font-style: normal;
    font-weight: 700;
    font-size: 1vw;
    color: #FFFFFF;
}

@media screen and (max-width: 767px) {
    .scroll {
        font-size: 2vw;
    }
}

.arrow_img {
    grid-area: arrow_img;
    justify-self: start;
    align-self: center;
}

.social {
    position: absolute;
    margin-top: 5%;
    color: #FFFFFF;
    font-family: Gilroy;
    font-style: normal;
    font-size: 1.2vw;
    transform: rotate(90deg);
    display: grid;
    width: 12vw;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: stretch;
    align-items: center;
}

@media screen and (max-width: 1023px) {
    .social {
        display: none;
    }
}

.icon {
    width: 100%;
}

.social_img {
    max-width: 100%;
}

.slider {
    position: absolute;
    left: 85vw;
    color: #FFFFFF;
    display: grid;
    margin-top: -2%;
    font-family: Gilroy;
    font-size: 1.2vw;
    grid-template-areas: ". start . "
        ". one . "
        ". two . "
        ". three . ";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    justify-items: end;
}

.start {
    grid-area: start;
}

.one {
    grid-area: one;
}

.two {
    grid-area: two;
}

.three {
    grid-area: three;
}

@media screen and (max-width: 1023px) {
    .slider {
        display: none;
    }
}

.content_container {
    width: 80%;
    margin-left: 15%;
}

@media screen and (min-width: 1200px) {
    .content_container {
        margin-top: 45%;
    }
}

@media screen and (max-width: 1199px) and (min-width: 1024px) and (orientation: landscape){
    .content_container {
        margin-top: 35%;
    }
}

@media screen and (max-width: 1199px) and (min-width: 1024px) and (orientation: portrait) {
    .content_container {
        margin-top: -35%;
    }
}


@media screen and (max-width: 1023px) and (min-width: 768px) {
    .content_container {
        margin-top: 35%;
    }
}

@media screen and (max-width: 767px) {
    .content_container {
        margin-top: 45%;
    }
}

.block {
    display: grid;
    max-height: 55vh;
    margin-top: 10%;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(7, 1fr);
}

.number {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 13vw;
    color: #FFFFFF;
    opacity: 0.1;
}

.content {
    grid-column: 2 / 6;
    grid-row: 4 / 6;
    align-self: center;
}

.content {
    display: grid;
    height: 45vh;
    margin-top: 5vh;
    grid-template-areas: "line st"
        "h2 h2"
        "text text"
        "more arrow";
    grid-template-columns: 0.2fr 1fr;
    grid-template-rows: 0.5fr 1fr 1fr 0.5fr;
    align-content: space-around;
}

@media screen and (max-width: 767px) {
    .content {
        height: 5vh;
    }
}

.line {
    grid-area: line;
    background-color: #FBD784;
    width: 4vw;
    height: 0.2vh;
    align-self: center;
}

.subtitle {
    grid-area: st;
    font-family: Gilroy;
    font-style: normal;
    font-weight: 800;
    font-size: 1vw;
    line-height: 130%;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: #FBD784;
}

.h2 {
    grid-area: h2;
    font-family: "Chronicle Display";
    font-style: normal;
    font-weight: 600;
    font-size: 3.5vw;
    line-height: 100%;
    color: #FFFFFF;
    margin: 10px 0;
}

.text {
    grid-area: text;
    color: #FFFFFF;
    font-family: Gilroy;
    font-style: normal;
    font-size: 1vw;
    line-height: 100%;
    line-height: 3vh;
}

.more {
    grid-area: more;
    font-family: Gilroy;
    font-style: normal;
    font-weight: 700;
    font-size: 1vw;
    line-height: 5vh;
    color: #FBD784;
    text-decoration: none;
}

.more:hover {
    color: #8d8d8d;
}

.yellow_arrow_img {
    grid-area: arrow;
    margin-left: 5%;
    align-self: center;
}

.image_container {
    grid-column: 7 / 10;
    grid-row: 1 / 8;
}

.image {
    max-width: 100%;
}

.block_two {
    display: grid;
    height: 55vh;
    margin-top: 10%;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(7, 1fr);
}

@media screen and (max-width: 767px) {
    .block_two {
        height: 35vh;
    }
}

#number {
    grid-column: 5 / 8;
    grid-row: 1 / 3;
}

#content {
    grid-column: 6 / 10;
    grid-row: 4 / 6;
    align-self: center;
}

#image_container {
    grid-column: 1 / 4;
    grid-row: 1 / 8;
}

.footer {
    display: grid;
    color: #FFFFFF;
    margin: 15vh 0px;
    height: 20vh;
    width: 80%;
    margin-left: 10%;
    grid-template-areas: "logo blog mntn"
        "cta blog mntn"
        ". blog mntn"
        ". blog mntn"
        ". blog . "
        "copy blog . ";
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1.2fr 1fr 1fr 1fr 1fr 1fr;
}

.name {
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 1.5vw;
    color: #FBD784;
}

.f_logo {
    grid-area: logo;
    font-family: "Chronicle Display";
    font-size: 2vw;
    letter-spacing: 0.7px;
    text-transform: capitalize;
}

.footersection1 {
    grid-area: cta;
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 1vw;
    margin-top: 3vh;
}

.footersection2 {
    grid-area: blog;
    font-size: 1vw;
}

.footersection3 {
    grid-area: mntn;
    font-size: 1vw;
}

.copy {
    grid-area: copy;
    font-family: Gilroy;
    font-style: normal;
    font-weight: 500;
    font-size: 1vw;
    color: #FFFFFF;
    opacity: 0.5;
    margin-top: 12vh;
}

.link {
    text-decoration: none;
    color: #FFFFFF;
    display: block;
    padding: 5px;
}

.link:hover {
    color: #8d8d8d;
    text-decoration: none;
}