@font-face {
    font-family: "Chronicle-Display-Roman.woff";
    font-style: normal;
    font-weight: normal;
    src: local("Chronicle-Display-Roman.woff"), url("fonts/Chronicle-Display-Roman.woff") format("woff");
}

body {
    background-color: #0B1D26;
}

.block {
    height: 450vh;
    position: absolute;
    background: url("assets/bg_hero.png")0px 0px/100% no-repeat,
        url("assets/hg.png") 0px 0px/100% no-repeat,
        url("assets/mg.png") 0px 632px/100% no-repeat,
        url("assets/bg_content.png") 0px 1500px/100% no-repeat,
        url("assets/vg.png") 0px 1152px/100% no-repeat;
}

.header {
    display: grid;
    width: 100%;
    height: 25px;
    margin-top: 64px;
    grid-template-areas: ". logo nav account_img account . ";
    grid-template-columns: 80px 1fr 1fr 1fr 0.1fr 80px;
    grid-template-rows: 1fr;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    font-family: Gilroy, sans-serif;
    font-style: normal;
    font-size: 18px;
    color: #FFFFFF;
}

.logo {
    grid-area: logo;
    font-family: Chronicle-Display-Roman;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 0.7px;
    text-transform: capitalize;
}

.nav {
    grid-area: nav;
    justify-self: center;
}

.menu {
    text-decoration: none;
    color: #FFFFFF;
    padding-right: 40px;
}

.menu:hover {
    color: #8d8d8d;
    text-decoration: none;
}

.account {
    grid-area: account;
    justify-self: end;
    text-decoration: none;
    color: #FFFFFF;
}

.account:hover {
    color: #8d8d8d;
    text-decoration: none;
}

.account_img {
    grid-area: account_img;
    justify-self: end;
}

.heading {
    display: grid;
    width: 100%;
    height: 370px;
    margin-top: 187px;
    grid-template-areas: ". line st . "
        ". title title . "
        ". scroll arrow_img . ";
    grid-template-columns: 0.5fr 120px 1fr 0.5fr;
    grid-template-rows: 0.2fr 1fr 0.2fr;
}

.line {
    grid-area: line;
    width: 72px;
    height: 2px;
    top: 10px;
    background: #FBD784;
    align-self: center;
}

.subtitle {
    grid-area: st;
    font-family: Gilroy;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: #FBD784;
}

.title {
    grid-area: title;
    width: 950px;
    height: 200px;
    top: 54px;
    font-family: Chronicle Display;
    font-style: normal;
    font-weight: 600;
    font-size: 88px;
    line-height: 100px;
    text-transform: capitalize;
    color: #FFFFFF;
    margin: 22px 0px;
}

.scroll {
    grid-area: scroll;
    font-family: Gilroy;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

.arrow_img {
    grid-area: arrow_img;
    justify-self: start;
    align-self: center;
}

.social {
    color: #FFFFFF;
    position: absolute;
    width: 77px;
    height: 22px;
    left: 104px;
    top: 420px;
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    transform: rotate(90deg);
}

.ig_img {
    position: absolute;
    left: 130px;
    top: 485px;
}

.twitter_img {
    position: absolute;
    left: 130px;
    top: 520px;
}

.slider {
    position: absolute;
    left: 85vw;
    color: #FFFFFF;
    display: grid;
    height: 220px;
    margin-top: 280px;
    font-family: Gilroy;
    font-size: 18px;
    line-height: 22px;
    grid-template-areas: ". start . "
        ". one . "
        ". two . "
        ". three . ";
    grid-template-columns: 1fr 70px 115px;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    justify-items: end;
}

.start {
    grid-area: start;
}

.one {
    grid-area: one;
}

.two {
    grid-area: two;
}

.three {
    grid-area: three;
}

#hiking_img {
    position: absolute;
    width: 370px;
    left: 65vw;
    top: 205vh;
}

.number_one {
    position: absolute;
    left: 7vw;
    top: 200vh;
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 240px;
    line-height: 240px;
    color: #FFFFFF;
    opacity: 0.1;
}

.get_started {
    display: grid;
    width: 40%;
    height: 370px;
    margin-top: 133vh;
    margin-left: 17.5vw;
    grid-template-areas: "line st_one"
        "h2 h2"
        "text text"
        "more arrow";
    grid-template-columns: 120px 1fr;
    grid-template-rows: 0.2fr 1fr 1fr 0.2fr;
    align-content: space-between;
}

.line_one {
    grid-area: line;
    width: 79px;
    height: 2px;
    top: 10px;
    background: #FBD784;
    align-self: center;
}

.subtitle_one {
    grid-area: st_one;
    font-family: Gilroy;
    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: #FBD784;
    margin: 0px;
}

.h2 {
    grid-area: h2;
    font-family: Chronicle Display;
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 77px;
    color: #FFFFFF;
    margin: 0px;
}

.text_one {
    grid-area: text;
    color: #FFFFFF;
    font-family: Gilroy;
    font-style: normal;
    font-size: 12px;
    line-height: 32px;
}

.more {
    grid-area: more;
    font-family: Gilroy;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 22px;
    color: #FBD784;
}

.yellow_arrow_img {
    grid-area: arrow;
    justify-self: start;
    align-self: center;
}

#hiker_img {
    position: absolute;
    width: 370px;
    left: 7vw;
    top: 275vh;
}

.number_two {
    position: absolute;
    left: 45vw;
    top: 275vh;
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 240px;
    line-height: 240px;
    color: #FFFFFF;
    opacity: 0.1;
}

.essentials {
    display: grid;
    width: 40%;
    height: 370px;
    margin-top: 32vh;
    margin-left: 56vw;
    grid-template-areas: "line st_one"
        "h2 h2"
        "text text"
        "more arrow";
    grid-template-columns: 120px 1fr;
    grid-template-rows: 0.2fr 1fr 1fr 0.2fr;
    align-content: space-between;
}

.line_two {
    grid-area: line;
    width: 79px;
    height: 2px;
    top: 10px;
    background: #FBD784;
    align-self: center;
}

.subtitle_two {
    grid-area: st_one;
    font-family: Gilroy;
    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: #FBD784;
    margin: 0px;
}

.h2 {
    grid-area: h2;
    font-family: Chronicle Display;
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 77px;
    color: #FFFFFF;
    margin: 0px;
}

.text_two {
    grid-area: text;
    color: #FFFFFF;
    font-family: Gilroy;
    font-style: normal;
    font-size: 12px;
    line-height: 32px;
}

.more {
    grid-area: more;
    font-family: Gilroy;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 22px;
    color: #FBD784;
}

.yellow_arrow_img {
    grid-area: arrow;
    justify-self: start;
    align-self: center;
}

#compass_img {
    position: absolute;
    width: 370px;
    left: 65vw;
    top: 345vh;
}

.number_three {
    position: absolute;
    left: 7vw;
    top: 350vh;
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 240px;
    line-height: 240px;
    color: #FFFFFF;
    opacity: 0.1;
}

.key {
    display: grid;
    width: 40%;
    height: 370px;
    margin-top: 27vh;
    margin-left: 17.5vw;
    grid-template-areas: "line st_one"
        "h2 h2"
        "text text"
        "more arrow";
    grid-template-columns: 120px 1fr;
    grid-template-rows: 0.2fr 1fr 1fr 0.2fr;
    align-content: space-between;
}

.line_three {
    grid-area: line;
    width: 79px;
    height: 2px;
    top: 10px;
    background: #FBD784;
    align-self: center;
}

.subtitle_three {
    grid-area: st_one;
    font-family: Gilroy;
    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: #FBD784;
    margin: 0px;
}

.h2 {
    grid-area: h2;
    font-family: Chronicle Display;
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 77px;
    color: #FFFFFF;
    margin: 0px;
}

.text_three {
    grid-area: text;
    color: #FFFFFF;
    font-family: Gilroy;
    font-style: normal;
    font-size: 12px;
    line-height: 32px;
}

.more {
    grid-area: more;
    font-family: Gilroy;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 22px;
    color: #FBD784;
}

.yellow_arrow_img {
    grid-area: arrow;
    justify-self: start;
    align-self: center;
}