@import "../vars";

img {
    max-width: 100%;
}

.wrapper {
    background: $background-color;
    max-width: 100%;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    box-sizing: border-box; 
    width: 85%;
    border-radius: 20px;
    min-height: 80vh;
    padding: 20px 0;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 13.0709px 13.0709px 104.567px rgba(63, 39, 102, 0.1);
    backdrop-filter: blur(26.1418px);
    position: relative;
    display: flex;
}

.sidebar {
    flex-grow: 1;
}

.folderImg {
    position: absolute;
    width: 30vw;
    left: 80%;
    bottom: -10vw;
}

.burgerIcon {
    color: $menu-color;
    align-self: flex-start;
    margin-top: 30px;
    display: none !important;

    &:hover {
        color: $secondary-color-darker;
    }

    &:active {
        color: $secondary-color-darker;
    }

    @media screen and (max-width: 768px) {
        display: inline-block !important;
        z-index: 20;
    }
}