@import "../vars";

.container {
    width: 20%;
    background-color: $menu-color;
    border-radius: 20px;
}

.menu {
    display: flex;
    flex-direction: column;
    padding-top: 10vw;
}

.menuItem {
    list-style: none;
    padding-top: 20px;
    padding-bottom: 20px;
}

.menuItem a {
    text-decoration: none;
    color: $text-color-white;
}