@import "../vars";

.container {
  width: clamp(200px, 20%, 400px);
  background-color: $menu-color;
  border-radius: 20px;
  position: relative;

  @media screen and (max-width: 768px) {
    display: none;
}
}

.magnifierImg {
  max-width: 450px;
  position: absolute;
  width: 30vw;
  top: -120px;
  left: -180px;
  z-index: 3;

  @media screen and (max-width: 1415px) {
    width: 425px;
  }

  @media screen and (max-width: 768px) {
    top: -50px;
  }
}

.bgMagnifier {
  width: 100%;
  object-fit: cover;
}

.logo {
  position: absolute;
  top: 105px;
  left: 170px;
  color: $menu-color;
  font-family:monospace;
  font-size: 1.1em;
  text-decoration: none;
  width: 30%;
  text-align: center;

  @media screen and (max-width: 1500px) {
    font-size: 1em;
    width: 25%;
    left: 40%;
}
}

.logo span {
  font-size: 1.3em;
  text-shadow: 0.06em 0.06em 0 rgba(175,170,215,1);

  &:hover {
    font-size: 1.4em;
  }
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0;
  margin-top: 150px;
  position: relative;
  z-index: 5;

  @media screen and (max-width: 768px) {
    margin-top: 180px;
  }
}

.menuItem {
  list-style: none;
  cursor: pointer;
  width: 95%;
  text-align: center;
}

.menuLink {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  padding: 20px;
  text-decoration: none !important;
  color: $text-color-white !important;
  background: $button-color var(--p, 0) / var(--p, 0) no-repeat;
  transition: 0.4s, background-position 0s;

  &:hover {
    --p: 100%;
    color: $menu-color !important;
    font-weight: 700;
    font-size: larger;
  }

  &:active {
    color: $secondary-color-bright !important;
  }
}

.menuIcon {
  padding-right: 10px;
}
