.bg {
    display: flex;
    background-color: rgb(19, 19, 19);
    color: antiquewhite;
}

.bg__white {
    width: 50%;
}

.logo {
    max-width: 150px;
    position: absolute;
    top: 15px;
    left: 10px;
}

.title {
    color: rgb(12, 78, 47);
    font-size: 50px;
}

.title,
.subtitle {
    width: 80%;
    margin: 100px auto;
    text-align: center;
}

.image {
    max-width: 100%;
}

#container {
    margin: 50px 0 20px 20px;
}