@font-face {
    font-family: "Intro-Regular";
    font-style: normal;
    font-weight: normal;
    src: local("Intro-Regular.woff"), url("fonts/Intro-Regular.woff") format("woff");
}

body {
    overflow-x: hidden;
    height: 100%;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1 1 auto;
}

.image {
    max-width: 100%;
}

/* Header */

.header__browser {
    min-width: 100%;
}

.header__container {
    display: grid;
    width: 90%;
    margin: 5vh auto;
    grid-template-areas: "logo button";
    grid-template-columns: 9fr 3fr;
}

.logo {
    grid-area: logo;
}

.header_button {
    grid-area: button;
    font-size: 1vw;
    justify-self: end;
    width: fit-content;
}

/* Main body */

.heading {
    font-family: "Intro-Regular";
    font-style: normal;
    font-weight: bold;
    font-size: 4vw;
    line-height: 120%;
    text-transform: uppercase;
    color: #000000;
}

.text {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: 300;
    font-size: 1.5vw;
    line-height: 160%;
    color: #000000;
}

.button {
    background: #5222D0;
    border-radius: 100px;
    color: #fff;
    border: none;
    text-transform: uppercase;
    font-family: "Intro-Regular";
    font-style: normal;
    font-weight: normal;
}

.background {
    display: grid;
    max-width: 100vw;
    grid-template-areas: ". body img";
    grid-template-columns: 10% 1fr 1fr;
}

.main-body {
    grid-area: body;
}

.image-container {
    grid-area: img;
}

.heading_main {
    width: 85%;
}

.text_main {
    width: 75%;
    margin-bottom: 7vh;
}

.button_main {
    width: 50%;
    height: 15%;
    font-size: 2vw;
    line-height: 2rem;
}

/* Footer */
.nav {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: 300;
    font-size: 1vw;
    line-height: 160%;
}

.footer__nav{
    margin-left: 10%;
    height: 10vh;
}

.nav__link {
    text-decoration: none;
    padding-right: 2vw;
}

.nav__link:hover {
    color: #333;
}

.nav__link_main {
    color: #5222D0;
}

/* Page */

/* Page footer */

.nav__link_page {
    color: #000000;
}

/* Page heading*/

.heading_page {
    margin-left: 7vw;
}

/* Page body */

.container {
    width: 90%;
    margin: auto;
    margin-bottom: 5vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 0.5fr;

}

.block {
    padding: 37px;
}

.block__subtitle {
    font-family: Intro-Regular;
    font-style: normal;
    font-weight: bold;
    font-size: 2vw;
    line-height: 120%;
    text-transform: uppercase;
    color: #000000;
}

.block__container {
    background-color: #EC615B;
    height: 90%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.block__subtitle_white {
    color: #fff;
    justify-self: center;
    width: 90%;
}

.e-mail {
    justify-self: center;
    width: 90%;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: 300;
    font-size: 1vw;
    line-height: 160%;
}

.e-mail__input {
height: 4vh;
width: 100%;
padding: 0;
border: none;
}

.button_page {
    width: 50%;
    height: 4vh;
    margin-left: 5%;
}

.block_one {
    border: 1px solid #EC615B;
}

.block_four {
    border: 1px solid #EC615B;
    margin-left: -1vw;
    margin-right: 1vw;
}