.wrapper {
    width: 80%;
    margin: 90px auto;
    display: flex;
    flex-direction: column;
}

.button {
    box-sizing: border-box;
    font-size: 1.1rem;
    line-height: 1.55;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-decoration: none;
    text-align: center;
    padding: 5px 20px;
    border: none;
    border-radius: 50px;
    background: cornflowerblue;
}

.button:hover {
    cursor: pointer;
    transition: background-color 0.4s ease;
    background: #2e9999;
}

.search {
    padding: 5px;
    border-radius: 10px;
    border: 2px solid cornflowerblue;
}

.search:active {
    text-decoration: none;
}