body {
    font-family: 'Noto Sans', sans-serif;
    color: #424242;
}

h2,
h3 {
    color: rgb(46, 88, 255);
}

a:hover {
    box-shadow: 0 0 5px rgb(0 0 0 / 50%);
}

.container {
    display: grid;
    grid-template-areas: "aside main";
    grid-template-rows: 1fr;
    grid-template-columns: 250px 1fr;
    padding: 1%;
}

.sidebar {
    padding: 20px;
}

.logo {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo>p {
    font-size: larger;
    font-weight: bolder;
}

.menu {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.menu_item {
    text-decoration: none;
    color: #424242;
    padding: 20px;
    border-radius: 20px;
}

.menu_item:hover {
    color: #2e58ff;
}

.aside_image {
    margin-bottom: 20px;
}

.main {
    position: relative;
    background-color: #ebf5ff;
    border-radius: 10px;
    min-height: 100vh;
    padding: 20px;
}

.header {
    color: #2e58ff;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.account {
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notifications {
    width: 30px;
    margin-right: 15px;
    cursor: pointer;
}

.avatar {
    width: 30px;
    height: 30px;
    margin-right: 15px;
    border-radius: 50px;
    border: 2px solid #2e58ff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.icon-avatar {
    height: 28px;
}

.logo {
    width: 150px;
}

.icon {
    max-width: 100%;
    vertical-align: middle;
}

.image {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 50%;
}

.bgImage {
    max-width: 100%;
}

.container_row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.tasks {
    width: 40%;
}

.sectionHeader {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.tasksTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sectionHeader>p {
    font-size: 1.5rem;
}

.viewAll {
    color: rgb(139, 196, 255);
    text-decoration: none;
    cursor: pointer;
}

.viewAll:hover {
    color: #2e58ff;
    box-shadow: none;
}

.task-item {
    position: relative;
    max-height: 3rem;
    border-radius: 20px;
    padding: 15px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.task-item__active {
    background-color: rgba(139, 196, 255, 0.5);
}

.task-item__done {
    background-color: rgb(220, 230, 240);
    text-decoration: line-through;
}

.tick {
    max-width: 75%;
}

.task_container {
    display: flex;
    width: 80%;
}

.task-item_icon {
    transform: rotate(90deg);
    width: 20%;
}

.task-item_text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 10%;
    max-width: 80%;
}

.task-item_title {
    margin-bottom: 0;
    color: #2e58ff;
    font-weight: 900;
}

.task-item_body {
    white-space: nowrap;
    /* Запрещаем перенос строк */
    overflow: hidden;
    /* Обрезаем все, что не помещается в область */
    text-overflow: ellipsis;
    /* Добавляем многоточие */
}

.task-item_chechbox {
    width: 30px;
    height: 30px;
    border: 2px solid #2e58ff;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.task-item_chechbox:hover {
    box-shadow: 0 0 5px rgb(0 0 0 / 50%);
}

.button {
    padding: 10px 20px;
    background-color: #2e58ff;
    color: #ebf5ff;
    text-decoration: none;
    border: none;
    border-radius: 10px;
    margin-left: 73%;
}

.button:hover {
    box-shadow: 0 0 5px rgb(0 0 0 / 50%);
}

.button:active {
    background-color: rgba(46, 88, 255, 0.75);
}

.chart {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.chartBox {
    width: 150px;
}

.chartTitle {
    width: 250px;
    text-align: center;
}

.barBox {
    width: 320px;
    height: 150px;
}

.qs-controls {
    background: rgba(139, 196, 255, 0.5) !important;
}

.qs-square:not(.qs-empty):not(.qs-disabled):not(.qs-day):not(.qs-active):hover {
    background: #2e58ff !important;
}

.qs-overlay {
    background: rgba(46, 88, 255, .75) !important;
}

.qs-overlay-year::-webkit-input-placeholder {
    color: white !important;
}

.qs-overlay-year::-moz-placeholder {
    color: white !important;
}

/* Tasks styles */

.tasksCalendar {
    margin-right: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.datepicker {
    padding-bottom: 20px;
    width: 70%;
    background-color: #ebf5ff;
    border: none;
    color: rgb(46, 88, 255);
    font-size: 1.5em;
    font-weight: 900;
}

.delButton {
    position: absolute;
    left: 97%;
    border-radius: 50%;
    border: 2px solid #2e58ff;
    color: #2e58ff;
}

.delButton:hover {
    box-shadow: 0 0 5px rgb(0 0 0 / 50%);
}